.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: whitesmoke;
}

p, h1 {
  font-weight: bolder;
  width: fit-content;
}

