.step-tracker {
  align-items: center;
  background-color: #4F6D7A;
  color: white;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: end;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 1em;
  width: 24vw;
}

div .RFS-StepperContainer, div .RFS-StepContainer {
  display: flex;
  flex-direction: column;
  background-color: #4F6D7A;
}

div .RFS-StepMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 20vw;
  padding: 1em;
  font-weight: bolder;
  background-color: #E8DAB2;
  border-radius: 5px;
  margin: 2%;
  box-shadow: 2px 2px rgb(50, 68, 77);
}

.RFS-ConnectorContainer {
  display: none;
}

.RFS-LabelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 15vw;
}

.RFS-Label {
  color: #4F6D7A;
  margin-bottom: 16px;
  margin-left: 10px;
  font-family: 'Cinzel', serif;
  font-weight: bolder;
}