.App {
  height: 100vh;
  width: 100vw;
  background-color: #EAEAEA;
  overflow-x: hidden;
}

.page-area {
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  overflow-x: hidden;
}

.proposal {
  background-color: #4F6D7A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90vh;
  width: 100vw;
  justify-content: space-around;
}