.Nav {
  height: 10vh;
  width: 100vw;
  background-color: #4F6D7A
}

.Nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: whitesmoke; */
  font-family: 'Cinzel', serif;
}

.Nav-p {
  width: fit-content;
  color: #EAEAEA
}


.step-tracker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  display: inline-flex;
  height: 90%;
  width: 15%;
}

