.Nav {
  height: 15vh;
  width: 100vw;
  background-color: #4F6D7A;
}

.Nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Cinzel', serif;
  height: 100%;
  margin-right: 5%;
}

.Nav-p {
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #EAEAEA
}

.logo {
  height: 15vh;
  width: 10vw;
} 

.signup-login {
  width: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
